{% extends 'base.html' %}

{% block title %} Edit a Tag{% endblock %}

{% block content %}
<h1>Edit a Tag</h1>

<form method="POST" action="/tags/{{tag.id}}/edit">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" placeholder="Enter a name for the tag" value="{{tag.name}}">
    
    <div>
    <button onclick="location.href='/tags'"" type="button" class="btn btn-outline-primary">Cancel</button>
    <button class="btn btn-success" type="submit">Add</button>
</div>
</form>
{% endblock %}