{% extends 'base.html' %}

{% block title %}  Edit {% endblock %}

{% block content %}

<h1>Edit a user</h1>

<form method="POST" action="/users/{{user.id}}/edit">
    
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" value="{{user.first_name}}">
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" value="{{user.last_name}}">
    </div>
    <div class="form-group">
        <label for="image_url">Image URL</label>
        <input type="text" name="image_url" id="image_url" value="{{user.image_url}}">
    </div>
        <button class="btn btn-secondary" onclick="location.href='/users'"" type="button">Cancel</button>
        <button class="btn btn-success" type="submit">Save</button>
</form>
{% endblock %}